<style type="text/css" media="screen">
	#footer{
		width:960px;
		margin: 20px auto;
	}
</style>
<div id="footer"> Powered by Vincent.Z |  About | Email | Copyright @ 2010 | Coming Soon | Revision by chun keung h

</div>