<style type="text/css" media="screen">
	#footer{
		width:960px;
		margin: 40px auto;
		clear:both;
	}
</style>
<div style='clear:both;'></div>
<div style='margin:0px auto;width:900px;text-align:center;font-size:23px;'>          <!--  Your Page ID: 55615 -->you are the <img style="border: 0px;" src="http://www.easywebcounters.com/count.php?page=55615" /> visitor.<br />
</div>
<div id="footer"><p style='margin:0px auto;text-align:center'> Powered by Vincent.Z |  About | Email | Copyright @ 2010 | Coming Soon | Revision by chun keung h</p>

</div>