<style type="text/css" media="screen">
	#commentform p {
	margin: 1em 0px;
	}
	#author, #email, #url, #comment {
	border: 1px solid #BBB;
	font: normal normal normal 1.1em/normal arial, helvetica, verdana, sans-serif;
	padding: 2px;
	}
	label {
	cursor: default;
	}
	#commentform p small {
	color: #7F7F7F;
	font-size: 10px;
	}
	#comment {
	overflow: auto;
	width: 429px;
	}
	#comments h3, h3#respond {
	color: #555;
	margin-bottom: 7px;
	}
	#comments {
	padding: 12px 0px 0px;
	width: 435px;
	}
</style>
<h3 id="respond">Reply to “<%=post.subject%>”</h3>
<%form_for(Comment.new,:url => post_comments_path(post),:remote => true) do |comment|%>
<p><%=comment.text_field :title,:size => 22, :id => 'url'%>
<label for="url"><small>Title</small></label></p>
<p><%=comment.text_area :comment,:cols => 60, :rows => 10,:id => 'comment' %></p>
<p><%=image_submit_tag 'btn_submit.gif',:id => 'submit'%>
</p>
<%end%>
