		<li class="alt item" id="comment-<%=comment.id%>">
				<div class="fix">
			<div class="commentbox">
			<p><%=comment.comment%></p>
			</div>
			<div class="commentfooter">Posted by <%=link_to comment.user.login,user_path(comment.user),:class => 'url'%> on <%=comment.created_at%></div>
			
</li>