<h1>Editing post</h1>
<%= stylesheet_link_tag 'newpost.css', :cache => true %>
<%= render 'form' %>


<div style='width:400px;clear:both;'><%= link_to 'Show', @post %> | <%= link_to 'Back', posts_path %></div>
