<style type="text/css" media="screen">
	.entrytext {
	line-height: 140%;
	margin: 2px 0px 0px;
	}
</style>
<div class="entrytext">				
<form action="http://www.kuyainside.com/kontak/" method="post">
<div class="contactleft"><label for="wpcf_your_name">Nama: </label></div>
<div class="contactright">
<input type="text" name="wpcf_your_name" id="wpcf_your_name" size="30" maxlength="50" value=""> (required)</div>
<div class="contactleft"><label for="wpcf_email">Email:</label></div>
<div class="contactright">
<input type="text" name="wpcf_email" id="wpcf_email" size="30" maxlength="50" value=""> (required)</div>
<div class="contactleft"><label for="wpcf_website">Website:</label></div>
<div class="contactright">
<input type="text" name="wpcf_website" id="wpcf_website" size="30" maxlength="100" value=""></div>
<div class="contactleft"><label for="wpcf_msg">Pesan: </label></div>
<div class="contactright"><textarea name="wpcf_msg" id="wpcf_msg" cols="35" rows="8"></textarea></div>
<div class="contactright">
<input type="submit" name="Submit" value="Submit" id="contactsubmit">
<input type="hidden" name="wpcf_stage" value="process"></div>
<p></p></form>
<p></p>
<div class="clean"></div>
					
				
</div>
